
<h1 id='hoto-title'>¡¡¡¡¡¡Hoto!!!!</h1>

  <table id='game-board'>

<% array_of_square_ids = [1,6,11,16,21,2,7,12,17,22,3,8,13,18,23,4,9,14,19,24,5,10,15,20,25] %>
<% counter = 0 %>
  <tr>
<% @board.each do |row|          %>



  <% row.each do |square| %>
  <% square_id = array_of_square_ids[counter] %>
<%        if square.colour == 'red'      %>

            <td class='red' id=<%= square_id %>>
<%=         square.height             %>
            </td>

<%        elsif square.colour == 'blue'      %>
       
            <td class='blue' id=<%= square_id %> >
<%=         square.height             %>
            </td>

<%        else                               %>
       
            <td class='normal' id=<%= square_id %> >
<%=         square.height             %>
            </td>
<%  end                                       %>
<% counter += 1 %>
<%    end %>
  </tr>
<% end %>

</table>

<div id='button-container'>
  <h1 class='action-button' id='place-button'>place</h1>
  <h1 class='action-button' id='topple-button'>topple</h1>
<!-- this p is here to give the container some filling, because everything else is floated -->
  <p>&nbsp </p>
</div>