<p id="notice"><%= notice %></p>
<div class="edit-link">
<% if current_user  == @user %>
  <%= link_to "Edit", edit_user_path(current_user), class: "btn btn-inverse" %>|
  <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-inverse" %>
<% end %>
</div>

<h1 class="user-games"> <%= @user.name %> </h1> 
<img src=<%= @chart_url %>>
<br>
<table class="table table-striped table-hover  header-fixed user-games" style="width: 75%;">
  <h4 class="user-games">Statistics</h4>
  <thead class="statistics">
    <th class='column-title'>Games Played</th>
    <th class='column-title'>Victories</th>
    <th class='column-title'>Rating</th>
    <th class='column-title'>Recent Change</th>
  </thead>
  <tbody class="statistics">
  <tr>
    <td><%= @user.games_played %></td>
    <td><%= @user.games_won %></td>
    <td><%= @user.current_rating %></td>
    <td><%= @user.recent_rating_change %></td>
  </tr>
  </tbody>
</table>

<table class="table table-striped table-hover  header-fixed user-games" style="width: 75%;">
    <h4 class="user-games">Active Games</h4>
  <thead class="activegames">
    <th class='column-title'>White</th>
    <th class='column-title'>Black</th>
    <th class='column-title'>To Move</th>
    <th class='column-title'>Phase</th>
    <th class='column-title'>Moves</th>
    <th class='column-title'>Join Game</th>
  </thead>
  <tbody class="activegames">
    <% @user.games.each do |game| %> 
    <tr data-link="<%= game %>">
      <% if game.active == true && game.users.count == 2%>
        <% game.users.each do |user| %>
            <td><%= user.name %>  </td> 
          <% end %>
          <td><%= game.turnstate %>  </td>
          <td><%= game.phase %>  </td>
          <td><%= game.moves_counter %>  </td>
          <td><%= link_to 'Play Game', game %>  </td>
      <% elsif game.active == true %>
        <% game.users.each do |user| %>
            <td><%= user.name %>  </td> 
            <td>Waiting for player </td> 
        <% end %>
          <td><%= game.turnstate %>  </td>
          <td><%= game.phase %>  </td>
          <td><%= game.moves_counter %>  </td>
          <td><%= link_to 'See Game', game %>  </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>


<% if @inactive_games.length > 0 %>
<table class="table table-striped table-hover header-fixed user-games" style="width: 75%;">

  <h4 class="user-games">Past Games</h4>
  <thead class="pastgames">
    <th class='column-title'>White</th>
    <th class='column-title'>Black</th>
    <th class='column-title'>Winner</th>
    <th class='column-title'>Moves</th>
    <th class='column-title'>See Game</th>
  </thead>
  <tbody class="pastgames">
    <% @user.games.each do |game| %> 
    <tr data-link="<%= game %>">
      <% if !game.active  %>
        <% game.users.each do |user| %>
            <td> <%= user.name %> </td> 
          <% end %>
          <td><%= game.get_name_from_winner_id %> </td>
          <td><%= game.moves_counter %> </td>
          <td><%= link_to 'View', game %> </td>



        <% end %>

      </tr>
      <% end %>


    </tbody>
  </table>
<% end %>


