<h1 id='welcome'>Welcome to Hoto.</h1>
<h3 id="intro-message">Hoto is a zany board game that knows how to boogie.</h3>
<section id='options'>
  <h2 id="host-button"> Host Game </h2>
  <button id="create-game-button"> Create Game </button>
</section>

<!-- <h2>Available Games</h2> -->
<div id="table-container">
  <table id="game-list">

    <tbody >
    <tr id="column-titles">
      <td class='column-title'>User</td>
      <td class='column-title'>Rating</td>

    </tr>
      <% @games.each do |game| %>
   
        <tr data-link="<%= game %>">
          <% if game.users.count == 2 %>
            <% game.users.each do |user| %>
              <td><%= user.name %>  </td> 
            
            <% end %> 
              <td><%= link_to 'Spectate', game %>  </td>

          <% else %>
            <% game.users.each do |user| %>
              <td><%= user.name %>  </td>
              <td></td> 
              <td><%= link_to 'Join Game', game %>  </td>
            <% end %>
          <% end %>

        </tr>
        
      <% end %>
    </tbody>
  </table>
</div>