<!-- to-do refactor -->
<script>
  var currentGame = "<%= @id %>"
  var currentTurnstate = "<%= @turnstate %>"
  var currentUser = <%= session[:user_id]  || 0 %>
  var currentUserColour = "<%= @current_colour %>" 
  var currentPhase = "<%= @phase %>"
  var currentSquares = "<%= @squares %>"
</script>


<div>
  <h1 id="turn-phase">It is <%= @turnstate  %>'s turn to <%=@phase  %></h1>
  <h1 id="current-colour">You are playing as <%= @current_colour %></h1>
</div>

<div id="game-board-encase">
<table id='game-board'>



  
<% @board.each_with_index do |row, y|  %>
<tr>

  <% row.each_with_index do |square, x|
     if square.colour != 'black' && square.colour != 'white'
      square.colour = 'empty'
     end      
  %>

      <td class='<%= square.colour %> game-square unselected' data-x="<%= x + 1 %>" data-y="<%= y + 1 %>">
      <span class="pieces">
      <%= square.height %>
      </span></td>



    <%    end %>
</tr>
<% end %>

</table>
</div>



<div id='button-container'>
  <h1 class='action-button' id='end-turn-button'>end turn</h1>
  <h1 class='action-button' id='topple-button'><%= @active %></h1>
<!-- this p is here to give the container some filling, because everything else is floated -->
  <p>&nbsp </p>
</div>

<script>  doTheGame() </script>