<!-- to-do refactor -->
<script>
  var currentGame = "<%= @game.id %>"
  var currentTurnstate = "<%= @game.turnstate %>"
  var currentUser = <%= session[:user_id]  || 0 %>
  var currentUserColour = "<%= @current_colour %>" 
  var currentPhase = "<%= @game.phase %>"
  var currentSquares = "<%= @squares %>"
  var gameActive = <%= @game.active  %>
</script>

<div class='container-fluid' id='gameplay-container'>
  
  <div class='row'>
    
    <div id="info-div" class="player-info-phase">
      <div>
        <div id="white-circle" class='display-circle'></div>
        <h3 class="info-shove"> <%= @user1.name %> </h3>
      </div>

      <div>
        <% if @user2 != nil %>
          <div id="black-circle" class='display-circle'></div>
          <h3 class="info-shove"> <%= @user2.name %> </h3>
        <% else %>
          <div id="black-circle"></div>
          <h3 class="info-shove"> Waiting for opponent </h3>
        <% end %>
      </div> 
    </div>

    <div id="game-board-encase" class='col-md-7'>
      <table id='game-board'>  
        <% @board.each_with_index do |row, y|  %>
        <tr>
          <% row.each_with_index do |square, x| %>
            <% if square.colour != 'black' && square.colour != 'white' %>
              <% square.colour = 'empty' %>
            <% end %>
            <td class='<%= square.colour %> game-square unselected' data-x="<%= x + 1 %>" data-y="<%= y + 1 %>">
              <% square.height.times do %>
                <span class="pieces">
                  <p class="piece-numbers"><%= square.height %></p>
                </span>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    </div>

    <% if @game.active %>
      <div id="player-turn-info" class='col-md-3'>
        <% if @game.turnstate == @current_colour %>
          <h4 id="turn-phase">Your turn to <%=@game.phase  %></h4>
        <% else %>
          <h4 id="turn-phase">Waiting for opponent to <%=@game.phase  %></h4>
        <% end %>
          <div id='button-container'>
            <h1 class="btn btn-warning" id='end-turn-button'>End Turn</h1>
          </div>
        <h4>Place Phase</h4>
        <p>Click a stack of your colour or an empty square to place your piece. You must place before your turn can continue.</p>
        <h4>Topple Phase</h4>
        <p>To topple, click the stack you want to move and the square you want it to topple into. A stack must be higher than one to topple, and can only topple into empty adjacent squares.  You can topple as many times as you like before ending your turn.</p>
        <div id='button-container'>
          <h1 class="btn btn-default" id="resign-btn">Resign</h1>
        </div>
      </div>
    <% else %>
      <div id="player-turn-info2">
        <h2 class ='game-over'><%= @winner_name %> wins!</h2>
      </div>
    <% end %>
  </div>
</div>

<script>  doTheGame() </script>