<!-- to-do refactor -->
<script>
  var currentGame = "<%= @game.id %>"
  var currentTurnstate = "<%= @game.turnstate %>"
  var currentUser = <%= session[:user_id]  || 0 %>
  var currentUserColour = "<%= @current_colour %>" 
  var currentPhase = "<%= @game.phase %>"
  var currentSquares = "<%= @squares %>"
  var gameActive = <%= @game.active  %>
</script>

<div id="info-div">
  <h1 id="turn-phase">It is <%= @game.turnstate  %>'s turn to <%=@game.phase  %></h1>
  <h1 id="current-colour">You are playing as <%= @current_colour %></h1>
  <h3 class=<%= "player-" + @user1_colour %>> <%= @user1.name %> </h3>
  <h3 class=<%= "player-" + @user2_colour %>> <%= @user2.name %> </h3>
  
  <% if !@game.active %>
    <p class ='game-over'><%= @winner_name %> won the hoto</p>
  <% end %>
</div>

<div id="game-board-encase">
<table id='game-board'>



  
<% @board.each_with_index do |row, y|  %>
<tr>

  <% row.each_with_index do |square, x|
     if square.colour != 'black' && square.colour != 'white'
      square.colour = 'empty'
     end      
  %>

      <td class='<%= square.colour %> game-square unselected' data-x="<%= x + 1 %>" data-y="<%= y + 1 %>">
      
        <% square.height.times do %>
          <span class="pieces">
            <%= square.height %>
          </span>
        <% end %>
      
      </td>
    <%    end %>
</tr>
<% end %>

</table>
</div>



<div id='button-container'>
  <h1 class='action-button' id='end-turn-button'>end turn</h1>
<!-- this p is here to give the container some filling, because everything else is floated -->
  <p>&nbsp;</p>
</div>

<script>  doTheGame() </script>