<!-- to-do refactor -->
<script>
  var currentGame = "<%= @id %>"
  var currentTurnstate = "<%= @turnstate %>"
  var currentUser = <%= session[:user_id]  || 0 %>
  var currentUserColour = "<%= @current_colour %>" 
  var currentPhase = "<%= @phase %>"
  var currentSquares = "<%= @squares %>"
</script>


<div>
  <h1>It is <%= @turnstate  %>'s turn to <%=@phase  %></h1>
  <h1>You are playing as <%= @current_colour %></h1>
</div>

  <table id='game-board'>

<% #array_of_square_ids = [1,6,11,16,21,2,7,12,17,22,3,8,13,18,23,4,9,14,19,24,5,10,15,20,25] %>

<% counter = 1 %>

  <tr>
<% @board.each do |row|          %>

  <% row.each do |square| %>
  <% square_id = counter %>
<%        if square.colour == 'black'      %>

            <td class='black game-square unselected' data-id=<%= square_id %>><span class="pieces">
<%=         square.height             %>
            </span></td>

<%        elsif square.colour == 'white'      %>
       
            <td class='white game-square unselected' data-id=<%= square_id %> >
            <span class="pieces">
<%=         square.height             %>
            </span></td>

<%        else                               %>
       
            <td class='normal game-square unselected' data-id=<%= square_id %> >
            <span class="pieces">
<%=         square.height             %>
            </span></td>
<%  end                                       %>
<% counter += 1 %>
<%    end %>
  </tr>
<% end %>

</table>




<div id='button-container'>
  <h1 class='action-button' id='end-turn-button'>end turn</h1>
  <h1 class='action-button' id='topple-button'>topple</h1>
<!-- this p is here to give the container some filling, because everything else is floated -->
  <p>&nbsp </p>
</div>

<script>  doTheGame() </script>
