<!DOCTYPE html>
<html>
<head>
  <title>Hoto</title>
  <%= javascript_include_tag "https://js.pusher.com/2.2/pusher.min.js" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
	<%= yield %>
</body>

<ul id="grid-overlay">
    <li><a href="javascript: (function(){try {GridOverlay.testgrid.toggleGrid(); } catch(err) {} })();">Toggle Grid</a></li>
    <li><a href="javascript: (function(){try {GridOverlay.testlineheight.toggleLineHeight(); } catch(err) {} })();">Toggle Line Height</a></li>
</ul>

</html>
